* {
  box-sizing: border-box;
  font-family: 'Tinos', serif;
}

body {
  background-color: #3a3a3a;
}

#wrapper {
  background-color: #c0c0c0;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

/* Header and Nav */

header {
  padding-top: 20px;
}

header, nav, address, footer {
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin: 0;
}

nav a {
  color: #000;
  font-size: 1.2em;
  font-weight: normal;
  text-decoration: none;
}

#nav-container a, #nav-container button {
  color: white;
  display: block;
  font-size: 1.2em;
  font-weight: normal;
  padding: 0.5em 1em;
  text-decoration: none;
  text-align: center;
}

#nav-container {
  background-color: #3a3a3a;
  display: block;
  overflow: hidden;
  position: relative;
}
  
#nav-menu {
  display: none;
  text-align: center;
}

#nav-menu ul {
  margin: 0;
}
  
#nav-container button.icon {
  background: #000;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
}

#nav-container a:hover, #nav-container button:hover {
  background-color: #ddd;
  color: #000;
}

#nav-active {
  background-color: #000;
}

/* Content */

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

.resume-section, .code-examples {
  margin: 0 auto;
  max-width: 80%;
}

nav a,
.resume-section ul,
.resume-section p,
address,
.code-examples p,
.code-examples a,
.code-examples li::marker {
  font-size: 1.2em;
}

a, a:visited {
  color: #000;
}

.resume-section li {
  margin-bottom: 0.5%;
}

address {
  padding-top: 5%;
}

footer {
  height: 100px;
  width: 100%;
}

@media only screen and (min-width: 1025px){
    .code-examples h3 {
      font-size: 1.2em;
    }
  }